body {
	background-color:#e3e3e3;
}

nav {
	width:100%;
	margin-bottom:30px;
}

header {
	display:block;
	
}

.logo {
width: 120px;
margin-top:-10px;
height:18vh;
}


nav li a{
	
	
	list-style-type: none;
	text-decoration:none;
	text-align:center;
	color:	;
	padding:30px;
	
}
nav li {
	background-color: #e3e3e3;
	list-style-type: none;
	display:inline;
	font-size:22px;
	border-radius:0.4em;
	text-align:center;
	padding-top:0.2em;
	
}

main h1 {
	text-align:center;
	color:#5271ff;
	
}

main h2{
	color:#527111;
}
main {
	border-style: solid;
    border-color: #92a8c5;
	margin-top:0.2em;
	margin-bottom:1em;
	display:block;
	box-shadow:5px 10px #92a8d2;
	border-radius:0.5em;
	
}


.logo {
	float:left;
	display:inline;
}

footer {
	text-align:center;
	margin-top:1em;
	font-size:
}

#prod_of_week h1 {
	text-align:center;
	font-size: 30px;
	color: #FFffff;
	background-color:#000000;
}

.trending img {
	display:inline;
	margin:7em;
}

.trending h2{
	text-align:center;
	color:#FFBD33;
}

.trending {
	margin-top:4em;
}

.container {
	width:100%;
	margin-left: auto;
	margin-right: auto;
}




.form {
	  margin: auto;
	  width: 70%;
	  padding: 10px;
	  background-color:white;
	  border-radius:30px;
}

h1 {
	text-align:center;
	font-weight:bold;
	font-weight:900;
	font-size:50px;
}

.block1 {
	margin: auto;
	  width: 90%;
	  padding: 10px;
	  background-color:#f7f7f7;
	  border-radius:10px;
	  height:50px;
	  margin-bottom:20px;
}

.input1 {
	display:block;
}

.input2 {
	display:block;
}

.input3 {
	display:block;
}

.block4 {
	margin-left:30px;
}

.feedback {
	display:block;
	margin-left:30px;
	margin-top:20px;
	margin-bottom:20px;
}

.Signup {
	margin: auto;
	  width: 90%;
	  padding: 10px;
	  background-color:#f7f7f7;
	  border-radius:10px;
	  height:50px;
	  margin-bottom:20px;
	  margin-top:20px;
}
	
.dropdown {
	margin: auto;
	  width: 90%;
	  padding: 10px;
	  background-color:#f7f7f7;
	  border-radius:10px;
	  height:50px;
}

.block2 {
	margin: auto;
	  width: 90%;
	  padding: 10px;
	  background-color:#f7f7f7;
	  border-radius:10px;
	  height:50px;
	  margin-bottom:20px;
}

.block3 {
	margin: auto;
	  width: 90%;
	  padding: 10px;
	  background-color:#f7f7f7;
	  border-radius:10px;
	  height:50px;
	  margin-bottom:20px;
}

.label5 {
	display:block;
	margin-left:30px;
}

.input4 {
	margin-left:30px;
}

table {border-collapse: collapse; }

table,th,td {border: 1px solid black;}
th,td {padding: 0.5em;}

tbody tr:nth-child(odd) {background-color: lightgray;}

tbody tr:nth-child(even) {background-color: white;}
.text-right {text-align: right;}


	