/* Style for mobile viewport*/
@media only screen and (min-width:320px) {
	.desktop {
		display:none;
	}
	
	.mobile {
		display:inline;
		max-width:100%;
	}
	
	 nav li {
	background-color: .ffffff;
	list-style-type: none;
	font-size:48px;
	border-radius:0.4em;
	text-align:center;
	border-style: solid;
    border-color: .92a8d1;
	padding-top:0.2em;
	display:block;
	}
	
	 nav li a{
		
	list-style-type: none;
	text-decoration:none;
	text-align:center;
	color:.5271ff;
	padding:30px;
}

 nav {
	display:block;
	margin-top: 0px;
}
	
	#logo {
		display:block;
		height:200px;
		width:100%;		
	}
	
	p{
	text-align:center;
	font-size:14pt;
}

	 img {
	width:100%;
}

   h1{
	text-align:center;
	margin-top:2em;
	}
	
	footer {
		text-align:center;
	}
	
}


/* Style for tablet viewport */
@media only screen and (min-width:600px) {
	
	nav li {
	background-color: #ffffff;
	list-style-type: none;
	font-size:48px;
	border-radius:0.4em;
	text-align:center;
	border-style: solid;
    border-color: #92a8d1;
	padding-top:0.2em;
	display:block;
	}
	
	 nav li a{
		list-style-type: none;
		text-decoration:none;
		text-align:center;
		color:.5271ff;
		padding:30px;
}

 nav {
	display:block;
	margin-top: 0px;
}
	
	#logo {
		display:block;
		height:200px;
		width:100%;
	}
	

	p{
	text-align:center;
	font-size:14pt;
}

   h1{
	text-align:center;
	margin-top:2em;
	}
	
	footer {
		text-align:center;
	}	

  p {
	text-align:center;
	font-size:16pt;
}

  img {
	max-width:100%;
}

    h1 {
	text-align:center;
	margin-top:2em;
	
	}
}

/* Style for desktop viewport*/

@media only screen and (min-width:1024px) {

 nav li a{
	list-style-type: none;
	text-decoration:none;
	text-align:center;
	color:#1e3e80;
	padding:30px;
}
 nav li {
	background-color: #ffffff;
	list-style-type: none;
	display:inline;
	font-size:28px;
	border-radius:0.4em;
	border-style:none;
	text-align:center;
	padding-top:0.2em;
	
}

footer {
	text-align:center;
	margin-top:1em;
	font-size:
}

  p {
	text-align:center;
	font-size:16pt;
}

	h1 {
		text-align:center;
		color:#1e3e80;		
	}
		
		
		
	h2{
		text-align:center;
	margin-top:2em;
	}
	
	#logo {
		width:15%;
		height:100px;
		float:left;
	}	
		
		
	body {
		display:block;
	}
	
	.story img {
		width:60%;
		margin-left:240px;
		margin-right:80px;
		border-radius:30px;
		margin-top:40px;
}
	#logo {
	float:left;
	display:inline;
	width:75px;
	height:45px;
}

}





