/* Style for desktop viewport*/
@media only screen and (min-width:1024px) {
	

.container {
  position: relative;
  max-width: 700px; /* Maximum width */
  margin: 0 auto; /* Center it */
}	

.container .content {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
}

header {
	width:50%;
	height:15vh;
	margin-top:0px;
	font-size:50px;
}

.logo {
width: 120px;
height:15vh;
font-size:50px;
margin-top:20px;
text-align:center;
}

.wrapper li a{
	list-style-type: none;
	text-decoration:none;
	text-align:center;
	color:#1e3e80;
}


.wrapper ul {
	list-style:none;
	margin-top:2%;
}

.wrapper ul li {
	background-color: #ffffff;
	width:110px;
	border:1px  #fff;
	list-style-type: none;
	font-size:20px;
	border-radius:0.4em;
	text-align:center;
    border-color: #92a8d1;
	float:left;
	position:static;
	margin:2px;

}


.wrapper ul li:hover {
	background:#cd840f;
}

.wrapper ul ul {
	display:none;
}

.wrapper ul li:hover >ul {
	display:block;
}



.wrapper ul li ul li {
	width:250px;
	
}

.wrapper ul li ul {
	position:relative;
}

.wrapper {
	width:80%;
	height:100px;
	position:absolute;
	display:inline-flex;
	margin-bottom: 0px;
}


main h1 {
	text-align:center;
	color:#1e3e80;
	margin-top: 10px;
}

main h2{
	color:#1e3e80;
}
main {
	border-style: solid;
    border-color: #92a8c5;
	margin-top:0em;
	margin-bottom:3em;
	box-shadow:5px 10px #92a8d2;
	border-radius:0.5em;
	
}


.logo {
	float:left;
	display:inline;
}

footer {
	text-align:center;
	margin-top:1em;
	font-size:
}

#prod_of_week h1 {
	text-align:center;
	font-size: 30px;
	color: #1e3e80;
	margin-bottom:50px;
}

.trending img {
	display:inline;
	margin:7em;
}

.trending h2{
	text-align:center;
	color:#FFBD33;
}

.trending {
	margin-top:4em;
}

}



