.pro {
border: 1px solid;	
background-color: #95A5A6;
padding: 40px; 
color: black;
border-radius:25px;
 font-size: 22px;
}

table {
	width:75%;
}

#emp_tab tr td{	
	background-color: #f7f7f7;
	padding: 20px; 
	
}

#emp_tab {
	margin-left:140px;
		
}
.new2 {
margin-left:auto;
	margin-right:auto;}

header {
	
	height:10vh;
	margin-top:0px;
	margin-left:auto;
	margin-right:auto;
	
}

h1 {
	height:10vh;
	margin-top: 5px;
	color: #5066ac;
}

.logo {
width: 80px;
height:15vh;
margin-top:3px;
display: inline;
}



.menu{
	list-style: none;
	display: inline;
	margin-left:auto;
	margin-right:auto;

}

.menu li{
	color: #000;
	font-size: 15px;
	float: left;
	padding: 4px;
	border-style: solid;
	border-color: #69bceb;
	border-radius: 5px;
	margin: 0.5em;
	list-style-type: none;
	width: 10%;
	text-align: center;
}

.menu li:hover{
	background: #1e3e80;
	border-style: solid;
	border-color: #778899;
}

.menu li:hover a{
	color: #fff;
	font-size: 18px;
}
.menu li a{
	text-decoration: none;
	color: #000;
	text-transform: uppercase;
	transition: 0.5s all;
}
	
	
	

